html,body{
    width: 100%;
    height: 100%;
}


/* Стили для color_rom  parsing_form.php*/
.single-checkbox{
    cursor: pointer;
}

span{
    cursor: pointer;
}

#span-red{
    background: red;
}

#span-orange{
    background: orange;
}

#span-yellow{
    background: yellow;
}

#span-green{
    background: green;
}

#span-blue{
    background: #1a64ff;
}

#span-blue-1{
    background: blue;
}

#span-pink{
    background: #ff13cb;
}

#span-purple{
    background: purple;
}

#span-brown{
    background: brown;
}

#span-gray{
    background: gray;
}

#span-while{
    border: 1px solid silver;
}

#span-black{
    background: black;
}

/* Стили для color_rom  parsing_update.php*/

.background-2{
    background-color: #721c24;
    color: white;
}

input[type="checkbox"] + span.span1 {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.action{
    border: 2px solid rebeccapurple;
}